# Enable URL rewriting
RewriteEngine On

# Check if the requested resource is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# Check if the requested resource is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php
RewriteRule ^ index.php [L]

