# Define index.php as the default handler for all requests
DirectoryIndex index.php

# Redirect all requests to index.php if the file or directory doesn't exist
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
